body{
    background-color: rgba(239, 239, 242, 1);
    margin: 0;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif;
}
.container{
    /*width: 1920px;*/
    padding: 0 15px;
    height: 770px;
    margin: 0 auto;
}
.header{
    display: flex;
    padding: 36px 0 0;
    justify-content: space-between;
}
.header_box{
    display: flex;
    align-items: center;
    gap: 68px;
}
.nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.link{
    color: #19191C;
    text-decoration: none;


}
.otn-box{
    display: flex;
    gap: 48px;
    align-items: center;
}
.logo{
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #19191C;
    text-decoration: none;

}
.offer{
    /*background-color: rgba(239, 239, 242, 1);*/
    display: flex;
    justify-content: space-between;
    background: url("../img/gay.png" ) 100% 100% no-repeat;

}
.offer__holder{
    height: 595px;
    top: 500px;
    left: 240px;
    width: 648px;
    padding-top: 80px;
    background: url("../img/Ellipse_20.png") no-repeat 100% 100%;
}
.button_main{
    width: 223px;
    height: 54px;
    top: 318px;
    padding: 16px 37px 16px 37px;
    gap: 10px;
    background: #504DEE;
    color: #FBFBFC;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.offer_description{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.offer_title{
    top: 500px;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
}
.offer_sale{
    width: 128px;
    height: 70px;
    top: 482px;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;

}
.offer_list{
    align-self: flex-end;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.offer__Marketer{
    top: -770px;
    right: 20px;
}
.offer__Illustrator{
    top: -874px;
    right: 240px;
}
.offer__Animator{
    top: -778px;
    right: 511px;
}
.offer__Programmer{
    top: -619px;
    right: 699px;
}
.offer__Designer {
    top: -448px;
    right: 850px;
}
.offer__Photografer {
    top: -278px;
    right: 691px;
}
.offer__item{
    line-height: 28px;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    border: 2px solid #19191C;
    padding: 16px 36px;
}
.button{
    background: rgba(80, 77, 238, 1);

}
.header__link{
    color: #19191C;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: none;
}
.header__but{
    background: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-weight: 700;
}
/*#trial{*/
/*    background: rgba(25, 25, 28, 1);*/
/*    color: white;*/
/*}*/
.find_program-button{
    background: rgba(25, 25, 28, 1);
    color: white;
}
.choose{
    background: rgba(25, 25, 28, 1);
    color: white;
}
.learn{
    background-color: black;
    color: white;
}
.discover{
    background: rgba(251, 251, 252, 1);
}
.find_program{
    background-color: rgba(222, 239, 228, 1);
}

footer{
    display: flex;
    background-color: black;
    color: white;
}
.sitemap_list{
    color: white;
    text-decoration: none;
}
.copyright{
    padding: 118px 28px;
    display: flex;
    /*width: 1920px;*/
    height: 536px;
    color: #6D6D77;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}
.copy_text_1{
    align-items: flex-end;
    height: 400px;
    display: flex;
    width: 297px;
}
.learn-container{
    padding: 0 15px;
}
.learn_counters{
    gap: 10px;
    display: flex;
}
.learn_counter-number{
       margin: 0 0 10px;
   }
@media screen and (min-width: 768px) and (max-width: 1440px){
       .learn_counters{
           display: flex;
            gap: 76px;
}
}
.learn_counter-item{
    width: 100vh;
    height: 100vh;
}
/*@media screen and (max-width: 1439px){*/
/*    .learn_counter-item{*/
/*    flex: 1 1 100%;*/
/*}*/
/*   .learn_counters{*/
/*    flex-wrap: wrap;*/
/*}*/
/*   .learn-container{*/
/*    flex-wrap: wrap;*/
/*}*/
/*   .learn_counter-number{*/
/*       margin: 10px;*/
/*   }*/
/*   .learn_text{*/
/*       width: auto;*/
/*   }*/
/*}*/